// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900);

// Sassy colors
$hopbush: #c69;
$midnight-blue: #036;
$white: white;
$iron: #dadbdf;
$pale-sky: #6b717f;
$patina: #699;
$nebula: #d2e1dd;

// Override theme settings (see ../template/settings.scss)

$backgroundColor: $white;
$linkColor: $patina;
$mainFont: Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$mainColor: $midnight-blue;
$headingFont: $mainFont;
$headingColor: $hopbush;
$linkColorHover: lighten( $linkColor, 20% );
$heading1TextShadow: none;
$selectionBackgroundColor: $hopbush;

mark {
  background-color: $pale-sky;
  color: $iron;
  padding: .05em .3em !important; /*overriding default*/
}

cite {
  font-size: 60% !important;
  margin-top: 1.2em !important;
  float: right;
  color: $pale-sky;
  font-style: italic !important;
}

.reveal {
  h1 {
    font-weight: 800;
    text-transform: initial !important; /*overriding default*/
  }

  section img {
    box-shadow: none !important; /*overriding default*/
    border: none !important; /*overriding default*/
  }

  .slides {
    text-align: left;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


